{:deps {}
 :dev-http {8080 ["resources/public" "classpath:public"]
            5090 ["resources/release" "classpath:release"]}
 :builds
 {:app
  {:target :browser
   :devtools {:after-load rifuta/main}
   :modules {:main {:init-fn rifuta/main}}
   :dev {:output-dir "resources/public/app-js"}
   :release {:output-dir "resources/release/app-js"}}

  :test
  {:target :browser
   :devtools {:after-load test/main}
   :modules {:main {:init-fn test/main}}
   :dev {:output-dir "resources/public/test-js"}}

  :portfolio
  {:target :browser
   :modules {:main {:init-fn rifuta.portfolio/main}}
   :dev {:output-dir "resources/public/portfolio-js"}}}}
